---
import { siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---
<footer
    class="semibold mt-auto flex flex-col sm:flex-row w-full items-center justify-between gap-x-8 gap-y-4 pb-8 pt-8 text-center align-top text-accent sm:text-base"
>
    

    <!-- Logo and Contact Us Section -->
    <div class="flex items-center space-x-4">
        <!-- Logo Section -->
        <a href="/" class="font-semibold">
            <img 
                src="/assets/images/GSSlogo.PNG" 
                alt="GSS of North Texas Logo" 
                class="h-20 w-auto object-contain"
            />
        </a>

        <!-- Contact Us Link -->
        <a
            href="/contact"
            class="text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-accent transition-all"
        >
            Contact Us
        </a>
    </div>
<!-- Copyright Section -->
    <div class="text-sm font-medium text-gray-600 dark:text-gray-400 sm:text-left">
        GSS of NT© 2025
    </div>
    
</footer>